<template>
 <div>
  <div class="container">
   <h5 class="text-primary pt-4">Appointment Management</h5>
   <p class="text-muted">Easily manage your appointments</p>
   <div class="row g-0 mt-4">
    <div class="card p-5 mt-3 mb-3">
     <div class="d-flex align-items-center">
       <div class="d-flex flex-column me-auto mt-2">
         <h5 class="text-violet fw-bold">Appointments</h5>
         <p class="mb-4"><small>Here are your appointments</small></p>
       </div>
       <div class="d-flex flex-column mt-2">
         <router-link to="/dashboard/appointment/select" class="btn btn-sm btn-primary"><i class="bi bi-plus"></i> Appointment</router-link>
       </div>
     </div>
      <vue-cal active-view="day" :events="appointments" style="height: 450px" :on-event-click="onEventClick"/>
    </div>
   </div>

   <div class="row g-0 mt-4">
     <div class="card p-5 mt-3 mb-3">
      <h5 class="text-primary pt-4">Appointment Request</h5>
      <p class="text-muted">Here are the list of your appointment request</p>
      <div class="d-flex justify-content-end mt-2">
       <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-3">
         <div class="input-group mb-3">
           <input type="text" v-model="search" class="form-control" id="floatingSearch" placeholder="Search here">
           <button @click.prevent="appointmentSearch" class="btn btn-primary">
             <i class="bi bi-search"></i>
            </button>
         </div>
       </div>
     </div>
      <div class="table-responsive mt-4">
        <b-skeleton-table
          v-if="initialLoading && tableappointments == 0"
          :rows="4"
          :columns="6"
          :table-props="{ bordered: false, striped: false }"
        ></b-skeleton-table>
        <table v-if="tableappointments != 0" class="table table-hover">
          <caption>Showing {{tableappointments.from}} to {{tableappointments.to}} of {{tableappointments.total}} appointments</caption>
          <thead>
            <tr>
              <th></th>
              <th scope="col" class="text-nowrap">Student No</th>
              <th scope="col" class="text-nowrap">Client Name</th>
              <th scope="col" class="text-nowrap">Type</th>
              <th scope="col">Content</th>
              <th scope="col">Start</th>
              <th scope="col" class="text-nowrap">End</th>
              <th scope="col" class="text-nowrap">Status</th>
              <th scope="col" class="text-nowrap">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(appointment, i) in tableappointments.data" :key="i">
              <avatar v-if="appointment != 0" class=" mr-4" :username="appointment.user.info.first_name + ' ' + appointment.user.info.last_name" :rounded="true" :size="40" :color="'#fff'" :lighten="100"></avatar>
              <td class="text-nowrap">{{appointment.user.id}}</td>
              <td class="text-nowrap">{{appointment.user.info.first_name}} {{appointment.user.info.last_name}}</td>
              <td class="text-nowrap">{{appointment.type}}</td>
              <td>{{appointment.content}}</td>
              <td class="text-nowrap">{{appointment.start}}</td>
              <td class="text-nowrap">{{appointment.end}}</td>
              <td class="text-nowrap">{{appointment.status}}</td>
              <td class="text-nowrap">
                <a v-on:click.prevent="showInfo = appointment; $bvModal.show('showInfoModal')" class="btn btn-primary btn-sm me-2" href="">View</a>
                <a v-if="appointment.status != 'Approved'" v-on:click.prevent="id = appointment.id; $bvModal.show('approveModal')" class="btn btn-primary btn-sm me-2" href="">Approve</a>
                <a v-on:click.prevent="selectedEvent.id = appointment.id; $bvModal.show('deleteModal')" class="btn btn-danger btn-sm me-2" href="">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mt-3" v-if="tableappointments.data">
        <pagination :showDisabled="true" :align="'right'" :data="tableappointments" @pagination-change-page="appointmentSearch">
          <span slot="prev-nav">&laquo;</span>
          <span slot="next-nav">&raquo;</span>
        </pagination>
      </div>
     </div>
   </div>
  </div>

   <!-- SHOW EVENT INFO MODAL --->
  <b-modal id="showEventInfoModal" centered title="Appointment Info">
    <div class="row p-3">
      <div class="col text-dark">
        <h6>Type: {{selectedEvent.type}}</h6>
        <h6>Schedule: {{selectedEvent.start | moment}} - {{selectedEvent.end | moment}}</h6>
        <h6>Description: {{selectedEvent.description}}</h6>
        <h6>Status: <small><span :class="selectedEvent.status == 'Approved' ? 'bg-success text-light rounded-pill ps-2 pe-2' : 'text-light ps-2 pe-2 rounded-pill bg-secondary'">{{selectedEvent.status}}</span></small></h6>
        <h6>Client: {{selectedEvent.user.info.first_name}} {{selectedEvent.user.info.last_name}}</h6>
      </div>
    </div>
    <template #modal-footer = {cancel} >
      <b-button variant="danger" size="sm" @click="deleteAppointment" :disabled="isLoading"> Delete </b-button>
      <b-button variant="success" size="sm" @click="cancel()" :disabled="isLoading">
        Okay
      </b-button>
    </template>
   </b-modal>

   <!-- SHOW INFO MODAL --->
  <b-modal id="showInfoModal" centered title="Appointment Info">
    <div class="row p-3">
      <div class="col">
        <h5>Appointment Info</h5><br/>
        <h6>Name: {{showInfo.type}}</h6>
        <h6>Schedule: {{showInfo.start | moment}} - {{showInfo.end | moment}}</h6>
        <h6>Description: {{showInfo.description}}</h6>
        <h6>Status:  <small><span :class="showInfo.status == 'Approved' ? 'bg-success text-light rounded-pill ps-2 pe-2' : 'text-light ps-2 pe-2 rounded-pill bg-secondary'">{{showInfo.status}}</span></small></h6><br/>
        <h5>Client Info</h5><br/>
        <h6>Client: {{showInfo.user.info.first_name}} {{showInfo.user.info.last_name}}</h6>
        <h6>Email: {{showInfo.user.email}}</h6>
        <h6>Age: {{showInfo.user.info.birth_date}}</h6>
        <h6>Contact Number: {{showInfo.user.info.contact_number}}</h6>
        <h6>Gender: {{showInfo.user.info.gender}}</h6>
        <h6>Height: {{showInfo.user.info.height}}</h6>
        <h6>Weight: {{showInfo.user.info.weight}} kl</h6>
        
      </div>
    </div>
    <template #modal-footer = {cancel} >
      <b-button variant="success" @click="cancel()" :disabled="isLoading">
        Okay
      </b-button>
    </template>
   </b-modal>

  <!-- DELETE MODAL --->
  <b-modal id="deleteModal" centered title="Confirm Delete">
    <p class="">Are you sure you want to delete this?</p>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
      <b-button variant="danger" size="sm" v-on:click.prevent="deleteAppointment" :disabled="isLoading">
        Delete 
       <div class="spinner-border text-white spinner-border-sm" role="status" v-if="isLoading">
       </div>
      </b-button>
    </template>
   </b-modal>

  <!-- APPROVE MODAL --->
  <b-modal id="approveModal" centered title="Confirm Approve">
    <p class="">Are you sure you want to approve this?</p>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
      <b-button variant="success" size="sm" v-on:click.prevent="approveAppointment" :disabled="isLoading">
        Approve 
       <div class="spinner-border text-white spinner-border-sm" role="status" v-if="isLoading">
       </div>
      </b-button>
    </template>
   </b-modal>
 </div>
</template>
<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import { mapState } from 'vuex'
import moment from 'moment'
import Avatar from 'vue-avatar'
export default {
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm a');
    }
  },
 components: {
   VueCal, Avatar
	},
 data() {
  return{
    selectedEvent: {
      user: {
        info: {
          first_name: '',
          last_name: '',
        }
      }
    },
    search: '',
    isLoading: false,
    initialLoading: false,
    id: '',
    showInfo: {
      user: {
        info: {
          first_name: '',
          last_name: '',
        }
      }
    },
  }
 },
 async mounted(){
   this.initialLoading = true
   await this.$store.dispatch('auth/checkAdminUser')
   this.getAppointment()
   this.getTableAppointment()
   this.initialLoading = false
 },
 methods: {
   async getAppointment(){
     const res = await this.$store.dispatch('appointment/getAppointments')
   },
   async searchAppointment(page = 1){
    let data = {
     search: this.search
    }

    this.isSearching = true
    await this.$store.dispatch('appointment/searchAppointment', {page: page, data: data})
    this.isSearching = false
   },
   async appointmentSearch(){
    if(this.search == ""){
     this.getTableAppointment()
    }
    else {
     this.searchAppointment()
    }
   },
   async getTableAppointment(page = 1){
     await this.$store.dispatch('appointment/getTableAppointments', page)
   },
   async approveAppointment(){
    this.isLoading = true
    const res = await this.$store.dispatch('appointment/approveAppointment', this.id)
    if(res.status == 200){
     this.$bvModal.hide('approveModal');
     this.$toast.success("Appointment approved successfully!")
     this.appointmentSearch()
    }
    this.isLoading = false
   },
   onEventClick(event, e){
    this.selectedEvent = event
    console.log(this.selectedEvent)
    this.$bvModal.show('showEventInfoModal')
    e.stopPropagation()
   },
   async deleteAppointment(){
     this.isLoading = true
     const res = await this.$store.dispatch('appointment/deleteAppointment', this.selectedEvent.id)
     if(res.status == 200){
       this.getAppointment()
       this.getTableAppointment()
       this.$toast.success('Appointment deleted successfully')
     }
     this.$bvModal.hide('showEventInfoModal')
     this.$bvModal.hide('deleteModal')
     this.isLoading = false
   }
  },
  computed: {
    ...mapState('appointment', ['appointments', 'tableappointments'])
  },
  watch: {
    search(before, after){
      this.appointmentSearch()
    }
  }
}
</script>
<style>
.vuecal__menu, .vuecal__cell-events-count {
 background-color:rgb(38, 117, 221) !important;
}
.vuecal__view-btn {
 color: white !important;
}
.vuecal__event {
  background: rgb(38, 117, 221) !important;
  color: white;
}
.vuecal__event-time {
  background: rgb(38, 117, 221) !important;
}
.vuecal__event-content {
  background: rgb(38, 117, 221) !important;

}
</style>