<template>
 <div>
  <div class="container">
   <h5 class="text-primary pt-4">Client Management</h5>
   <p class="text-muted">Here are the list of your clients</p>
   <div class="row g-0 mt-5">
    <div class="card p-5 mb-4">
     <div class="d-flex align-items-center">
       <div class="d-flex flex-column me-auto mt-2">
         <h5 class="text-violet fw-bold">Records</h5>
         <p class="mb-4"><small>Manage your client records below</small></p>
       </div>
       <div class="d-flex flex-column mt-2">
         <button v-on:click.prevent="$bvModal.show('newPatientModal')" class="btn btn-primary"><i class="bi bi-plus"></i> Client</button>
       </div>
     </div>
     <div class="d-flex justify-content-end mt-2">
       <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-3">
         <div class="input-group mb-3">
           <input type="text" v-model="search" class="form-control" id="floatingSearch" placeholder="Search here">
           <button @click.prevent="patientSearch" class="btn btn-primary">
             <i class="bi bi-search"></i>
            </button>
         </div>
       </div>
     </div>
     <div class="table-responsive mt-4">
      <b-skeleton-table
         v-if="initialLoading"
         :rows="4"
         :columns="6"
         :table-props="{ bordered: false, striped: false }"
       ></b-skeleton-table>
      <table v-if="!initialLoading" class="table table-hover">
        <thead>
          <tr>
            <th scope="col" ></th>
            <th scope="col" class="text-nowrap">Student No</th>
            <th scope="col" class="text-nowrap">First Name</th>
            <th scope="col" class="text-nowrap">Middle Name</th>
            <th scope="col" class="text-nowrap">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Height</th>
            <th scope="col">Weight</th>
            <th scope="col">Age</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Email</th>
            <th scope="col" class="text-nowrap">Contact Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(patient, i) in patients.data" :key="i">
            <td>
             <avatar v-if="patient != 0" class=" mr-4" :username="patient.info.first_name + ' ' + patient.info.last_name" :rounded="true" :size="40" :color="'#fff'" :lighten="100"></avatar>
            </td>
            <td class="text-nowrap">{{patient.id}}</td>
            <td class="text-nowrap">{{patient.info.first_name}}</td>
            <td class="text-nowrap">{{patient.info.middle_name}}</td>
            <td class="text-nowrap">{{patient.info.last_name}}</td>
            <td>{{patient.info.gender}}</td>
            <td>{{patient.info.height}}</td>
            <td>{{patient.info.weight}}</td>
            <td>{{patient.info.age}}</td>
            <td class="text-nowrap">{{patient.info.birth_date}}</td>
            <td>{{patient.email}}</td>
            <td>{{patient.info.contact_number}}</td>
            <td class="text-nowrap">
             <a v-on:click.prevent="$bvModal.show('updatePatientModal'); id=patient.id; update_data = JSON.parse(JSON.stringify(patient));" class="btn btn-primary btn-sm me-2" href=""><i class="bi bi-pencil"></i></a>
             <a v-on:click.prevent="id = patient.id; $bvModal.show('deleteModal')" class="btn btn-danger btn-sm" href=""><i class="bi bi-x"></i> Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
     </div>
     <div class="row mt-3" v-if="patients.data">
       <pagination :showDisabled="true" :align="'right'" :data="patients" @pagination-change-page="patientSearch">
         <span slot="prev-nav">&laquo;</span>
         <span slot="next-nav">&raquo;</span>
       </pagination>
     </div>
    </div>
   </div>
  </div>

  <b-modal id="newPatientModal"  scrollable centered title="New Patient">
   <div class="row pe-3 ps-3">
     <h5 class="">Patient's Info</h5>
     <p class="text-muted">Patient's personal Info</p>
     <div class="col mt-2">
      <label for="firstname">First Name</label>
      <input v-model="data.first_name" id="firstname" type="text" class="form-control" placeholder="" aria-label="First name">
     </div>
     <div class="col mt-2">
      <label for="middlename">Middle Name</label>
      <input v-model="data.middle_name" id="middlename" type="text" class="form-control" placeholder="" aria-label="Middle name">
     </div>
   </div>
   <div class="row pe-3 ps-3">
    <div class="col mt-3">
      <label for="height">Last Name</label>
      <input v-model="data.last_name" id="lastname" type="text" class="form-control" placeholder="" aria-label="Last name">
     </div>
    <div class="col mt-3">
     <label for="gender">Select Gender</label>
     <select id="gender" v-model="data.gender" class="form-select">
      <option value="" disabled selected>Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
     </select>
    </div>
   </div>
   <div class="row pe-3 ps-3">
    <div class="col mt-3">
     <label for="height">Height (ft.)</label>
      <input v-model="data.height" id="height" type="text" class="form-control" placeholder="" aria-label="Height">
    </div>
    <div class="col mt-3">
     <label for="weight">Weight (kl.)</label>
      <input v-model="data.weight" id="weight" type="number" class="form-control" placeholder="" aria-label="Weight">
    </div>
   </div>
   <div class="row pe-3 ps-3">
    <div class="col mt-3">
      <label for="contactnumber">Contact Number</label>
      <input v-model="data.contact_number" id="contactnumber" type="number" class="form-control" placeholder="" aria-label="Contact number">
    </div>
    <div class="col mt-3">
      <label for="age">Age</label>
      <input v-model="data.age" id="age" type="number" class="form-control" placeholder="" aria-label="Age">
    </div>
   </div>
   <div class="row pe-3 ps-3">
    <div class="col mt-3">
      <label for="birthdate">Birth Date</label>
      <input v-model="data.birth_date" id="birthdate" type="date" class="form-control" placeholder="" aria-label="Birth Date">
    </div>
    <div class="col mt-3">
      <label for="studetno">Student No</label>
      <input v-model="data.id" id="studetno" type="number" class="form-control" placeholder="" aria-label="Student No">
    </div>
   </div>
   <div class="row pe-3 ps-3">
     <h5 class="mt-3">Login Credentials</h5>
     <p class="text-muted">Patient's Login Info</p>
     <div class="col mt-2">
      <label for="email">Email</label>
      <input v-model="data.email" id="email" type="text" class="form-control" placeholder="" aria-label="Email">
     </div>
     <div class="col mt-2">
      <label for="password">Password</label>
      <input v-model="data.password" id="password" type="password" class="form-control" placeholder="" aria-label="Password">
     </div>
   </div>
   <template #modal-footer = {cancel} >
     <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
     <b-button variant="success" size="sm" v-on:click.prevent="savePatient" :disabled="isLoading">
       Save Client
       <div class="spinner-border text-white spinner-border-sm" role="status" v-if="isLoading">
       </div>
     </b-button>
   </template>
  </b-modal>

  <b-modal id="updatePatientModal"  scrollable centered title="Update Patient">
   <div class="row pe-3 ps-3">
     <h5 class="">Client's Info</h5>
     <p class="text-muted">Client's personal Info</p>
     <div class="col mt-2">
      <label for="firstname">First Name</label>
      <input v-model="update_data.info.first_name" id="firstname" type="text" class="form-control" placeholder="" aria-label="First name">
     </div>
     <div class="col mt-2">
      <label for="middlename">Middle Name</label>
      <input v-model="update_data.info.middle_name" id="middlename" type="text" class="form-control" placeholder="" aria-label="Middle name">
     </div>
   </div>
   <div class="row pe-3 ps-3">
    <div class="col mt-3">
      <label for="height">Last Name</label>
      <input v-model="update_data.info.last_name" id="lastname" type="text" class="form-control" placeholder="" aria-label="Last name">
     </div>
    <div class="col mt-3">
     <label for="gender">Select Gender</label>
     <select id="gender" v-model="update_data.info.gender" class="form-select">
      <option value="" disabled selected>Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
     </select>
    </div>
   </div>
   <div class="row pe-3 ps-3">
    <div class="col mt-3">
     <label for="height">Height (ft)</label>
      <input v-model="update_data.info.height" id="height" type="text" class="form-control" placeholder="" aria-label="Height">
    </div>
    <div class="col mt-3">
     <label for="weight">Weight (kl)</label>
      <input v-model="update_data.info.weight" id="weight" type="number" class="form-control" placeholder="" aria-label="Weight">
    </div>
   </div>
   <div class="row pe-3 ps-3">
    <div class="col mt-3">
      <label for="contactnumber">Contact Number</label>
      <input v-model="update_data.info.contact_number" id="contactnumber" type="number" class="form-control" placeholder="" aria-label="Contact number">
    </div>
    <div class="col mt-3">
      <label for="age">Age</label>
      <input v-model="update_data.info.age" id="age" type="number" class="form-control" placeholder="" aria-label="Age">
    </div>
   </div>
   <div class="row pe-3 ps-3">
    <div class="col mt-3">
      <label for="birthdate">Birth Date</label>
      <input v-model="update_data.info.birth_date" id="birthdate" type="date" class="form-control" placeholder="" aria-label="Birth Date">
    </div>
    <div class="col mt-3">
    </div>
   </div>
   <div class="row pe-3 ps-3">
     <h5 class="mt-3">Login Credentials</h5>
     <p class="text-muted">Patient's Login Info</p>
     <div class="col mt-2">
      <label for="email">Email</label>
      <input v-model="update_data.email" id="email" type="text" class="form-control" placeholder="" aria-label="Email">
     </div>
     <div class="col mt-2">
     
     </div>
   </div>
   <template #modal-footer = {cancel} >
     <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
     <b-button variant="success" size="sm" v-on:click.prevent="updatePatient" :disabled="isLoading">
       Update Client 
       <div class="spinner-border text-white spinner-border-sm" role="status" v-if="isLoading">
       </div>
     </b-button>
   </template>
  </b-modal>


   <!-- DELETE MODAL --->
  <b-modal id="deleteModal" centered title="Confirm Delete">
    <p class="">Deleting a patient will also delete its record. Are you sure you want to delete this?</p>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
      <b-button variant="danger" size="sm" v-on:click.prevent="deletePatient" :disabled="isLoading">
        Delete 
       <div class="spinner-border text-white spinner-border-sm" role="status" v-if="isLoading">
       </div>
      </b-button>
    </template>
   </b-modal>

 </div>
</template>
<script>
import Avatar from 'vue-avatar'
import { mapState } from 'vuex'
export default {
   components: {Avatar},
  data() {
   return {
    isLoading: false,
    data: {
     first_name: '',
     middle_name: '',
     last_name: '',
     gender: '',
     contact_number: '',
     height: '',
     age: '',
     weight: '',
     birth_date: '',
     email: '',
     password: '',
     id: '',
    },
    update_data: {
     email: '',
     info: {
      first_name: '',
      middle_name: '',
      last_name: '',
      gender: '',
      age: '',
      weight: '',
      birth_date: '',
      contact_number: ''
     }
    },
    id: '',
    search: '',
    isSearching: false,
    initialLoading: false
   }
  },
  async mounted(){
   this.initialLoading = true
   document.title = 'Patient Management'
   await this.$store.dispatch('auth/checkAdminUser')
   await this.getAllPatients()
   this.initialLoading = false

  },
  methods: {
   async getAllPatients(page = 1){
     await this.$store.dispatch('patient/getPatients', page)
   },
   async searchPatient(page = 1){
    let data = {
     search: this.search
    }

    this.isSearching = true
    await this.$store.dispatch('patient/searchPatient', {page: page, data: data})
    this.isSearching = false
   },
   async patientSearch(){
    if(this.search == ""){
     this.getAllPatients()
    }
    else {
     this.searchPatient()
    }
   },
   async savePatient(){

    if(this.data.first_name.trim() == '') return this.$toast.error('First Name')
    if(this.data.middle_name.trim() == '') return this.$toast.error('Middle Name')
    if(this.data.last_name.trim() == '') return this.$toast.error('Last Name')
    if(this.data.gender == '') return this.$toast.error('Gender is required')
    if(this.data.contact_number == '') return this.$toast.error('Contact Number is required')
    if(this.data.email == '') return this.$toast.error('Email is required')
    if(this.data.password == '') return this.$toast.error('Password is required')
    if(this.data.id == '') return this.$toast.error('Student No is required')
    this.isLoading = true

    const res = await this.$store.dispatch('auth/createAccount', this.data)
    console.log(res)
    if(res.status == 200){
     this.getAllPatients()
     this.$bvModal.hide('newPatientModal')
     this.$toast.success('Patient added successfully!')
    }
    else {
      this.showError(res.data.errors)
      this.$bvModal.hide('newPatientModal')
    }
    this.isLoading = false

    this.clearData()
   },
   async updatePatient(){
    
    if(this.update_data.info.first_name == '') return this.$toast.error('First Name')
    if(this.update_data.info.middle_name == '') return this.$toast.error('Middle Name')
    if(this.update_data.info.last_name == '') return this.$toast.error('Last Name')
    if(this.update_data.info.gender == '') return this.$toast.error('Gender is required')
    if(this.update_data.info.height == '') return this.$toast.error('Height is required')
    if(this.update_data.info.weight == '') return this.$toast.error('Weight is required')
    if(this.update_data.info.age == '') return this.$toast.error('Age is required')
    if(this.update_data.info.contact_number == '') return this.$toast.error('Contact Number is required')
    if(this.update_data.email == '') return this.$toast.error('Email is required')

    this.isLoading = true
    let data =  {
     first_name: this.update_data.info.first_name,
     middle_name: this.update_data.info.middle_name,
     last_name: this.update_data.info.last_name,
     gender: this.update_data.info.gender,
     contact_number: this.update_data.info.contact_number,
     age: this.update_data.info.age,
     weight: this.update_data.info.weight,
     height: this.update_data.info.height,
     birth_date: this.update_data.info.birth_date,
     email: this.update_data.email,
    };

    const res = await this.$store.dispatch('auth/updateAccount', {id: this.id, payload: data})
    if(res.status == 200){
     this.patientSearch()
     this.$bvModal.hide('updatePatientModal')
     this.$toast.success('Patient Information updated successfully!');

    }
    this.isLoading = false
   },
   async deletePatient(){
     this.isLoading = true
    const res = await this.$store.dispatch('patient/deletePatient', this.id)
    if(res.status == 200) {
     this.$toast.error('Patient deleted successfully!')
     this.$bvModal.hide('deleteModal')
    }
    this.isLoading = false

   },
   showError(data){
     for (const key of Object.keys(data)) {
       this.$toast.error(data[key][0]); 
     }
   },
   clearData(){ 
    this.data =  {
     first_name: '',
     middle_name: '',
     last_name: '',
     gender: '',
     contact_number: '',
     email: '',
     age: '',
     height: '',
     weight: '',
     birth_date: '',
     password: '',
    }
   }
  },
  computed: {
   ...mapState('patient', ['patients'])
  },
  watch: {
   search(before, after){
      this.patientSearch()
    },
  }

}
</script>